# Ignore build directories
build/
cmake-build-debug/
CMakeFiles/
Testing/
CMakeCache.txt
cmake_install.cmake
Makefile
build.ninja
.ninja_deps
.ninja_log

# Ignore editor and OS specific files
*.swp
.DS_Store
.idea/
.vscode/

# Ignore executable files
example
